*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #fff7f3;
    color: #4b3832;
}

/* Skip Link */

.skip-link{
    position: absolute;
    left: -999px;
}

.skip-link:focus{
    left: 10px;
    top: 10px;
    background-color: #4b3832;
    color: white;
    padding: 10px;
    z-index: 1000;
}

/* Header */

header{
    background-color: #ffc6c7;
    padding: 20px;
    text-align: center;
}

h1{
    color: #6d4c41;
    margin-bottom: 15px;
}

.hero img{
    height: 400px;
    object-fit: cover;
}

/* Navigation */

nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #ffb4a2;
    padding: 15px;
}

nav a{
    color: #4b3832;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

/* Hover */

nav a:hover{
    background-color: white;
    transition: 0.3s;
}

/* Main */

main{
    padding: 20px;
}

/* Images */

img{
    width: 100%;
    border: 4px solid #ffb4a2;
    padding: 5px;
    border-radius: 15px;
}

/* nth-child */

.grid-gallery img:nth-child(odd){
    border-radius: 30px;
}

.grid-gallery img:nth-child(even){
    border-radius: 5px;
}

/* Grid */

.grid-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Flex */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    width: 300px;
    Height: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

/* Footer */

footer{
    background-color: #ffc6c7;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
